.boton{
    border-radius: 25px;
    background-color: blue;
    font-size: medium;
    color: white;
}

.documento{
    background-color: silver;
    font: sans-serif;
    text-align: center;
    flex-direction: column;
}

.Pie_de_pagina{
    background-color: black;
    color: white;
    font-size: 12;
    position:absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    align-self: center;
}